.lf2ui_combine {
  display    : inline-flex;
  flex-wrap  : nowrap;
  align-items: stretch;

  &.row {
    flex-direction: row;

    &>*:not(:last-child) {
      border-right-width        : 1px !important;
      border-top-right-radius   : 0px !important;
      border-bottom-right-radius: 0px !important;
    }

    &>*:not(:first-child) {
      border-left-width        : 1px !important;
      border-top-left-radius   : 0px !important;
      border-bottom-left-radius: 0px !important;
    }

    &>.lf2ui_combine:not(:last-child)>* {
      border-right-width        : 1px !important;
      border-top-right-radius   : 0px !important;
      border-bottom-right-radius: 0px !important;
    }

    &>.lf2ui_combine:not(:first-child)>* {
      border-left-width        : 1px !important;
      border-top-left-radius   : 0px !important;
      border-bottom-left-radius: 0px !important;
    }
  }

  &.column {
    flex-direction: column;

    &>*:not(:last-child) {
      border-bottom-width       : 1px !important;
      border-bottom-left-radius : 0px !important;
      border-bottom-right-radius: 0px !important;
    }

    &>*:not(:first-child) {
      border-top-width       : 1px !important;
      border-top-left-radius : 0px !important;
      border-top-right-radius: 0px !important;
    }

    &>.lf2ui_combine:not(:last-child)>* {
      border-bottom-width       : 1px !important;
      border-bottom-left-radius : 0px !important;
      border-bottom-right-radius: 0px !important;
    }

    &>.lf2ui_combine:not(:first-child)>* {
      border-top-width       : 1px !important;
      border-top-left-radius : 0px !important;
      border-top-right-radius: 0px !important;
    }
  }
}