@import "../../styles/lfui_hoverable_border.module.scss";
@import "../../styles/lfui_border.module.scss";

.lfui_combine.hoverable {
  @extend .lfui_hoverable_border;

  &:hover {
    .lfui_combine_split_line {
      background-color: $primary_border_color_active;
    }
  }

  &:not(:hover) {
    .lfui_combine_split_line {
      background-color: $primary_border_color;
    }
  }

}

.lfui_combine {
  @extend .lfui_border;

  position   : relative;
  display    : inline-flex;
  flex-wrap  : nowrap;
  align-items: stretch;
  overflow   : hidden !important;

  &>* {
    z-index      : 0;
    position     : relative;
    box-sizing   : border-box;
    border-width : 0px !important;
    border-radius: 0px !important;
  }

  &>.lfui_combine_split_line {
    background-color: $primary_border_color;
    position        : absolute;
    pointer-events  : none;
  }

  &.row {
    flex-direction: row;
  }

  &.column {
    flex-direction: column;
  }
}