@import "../styles/lfui_hoverable_border.scss";

.entity_base_editor {
  min-width : 50px;
  min-height: 50px;
  resize    : vertical;
}

.tree_item_view_wrapper {
  @extend .lfui_hoverable_border;
  max-height    : 100%;
  width         : 250px;
  resize        : horizontal;
  overflow      : hidden;
  display       : flex;
  flex-direction: column;
  flex-flow     : column;

  &>.scroll_zone {
    align-self : stretch;
    flex-grow  : 1;
    flex-shrink: 0;
    flex-basis : 0;
    overflow   : auto;
  }
}

.frame_preview_view {
  @extend .lfui_hoverable_border;
  position      : relative;
  resize        : horizontal;
  flex          : 1;
  min-width     : 10;
  display       : flex;
  flex-direction: column;
}

.entity_editor_view {
  overflow      : hidden;
  display       : flex;
  position      : relative;
  flex-direction: column;
}