@import "../../styles/lf2_hoverable_border.scss";

.lf2ui_frame {
  @extend .lf2_hoverable_border;
  position  : relative;
  box-sizing: border-box;

  &.with_label {
    padding    : 5px;
    padding-top: 18px;
  }

  &>.label:first-child {
    position   : absolute;
    font-size  : 12px;
    font-weight: lighter;
    top        : 0px;
    left       : 2px
  }
}