@use "../../styles/lfui_hoverable_border.module.scss" as *;
@use "../../styles/lfui_values.module.scss" as *;

.lfui_frame {
  background-color: $primary_bg_color;
  position        : relative;
  box-sizing      : border-box;
  padding         : 10px 10px;

  &.hoverable{
    @extend .lfui_hoverable_border;
  }

  &.active {
    @extend .lfui_hoverable_border_focus;
  }

  &.with_label {
    padding-top: 12px;
  }

  &>.label:first-child {
    position : absolute;
    font-size: 9px;
    top      : 0px;
    left     : 2px;
    z-index  : 0;
  }

  &>* {
    z-index: 1px;
  }
}