@import "../../styles/lfui_hoverable_border.scss";
@import "../../styles/lfui_values.module.scss";

.lf2ui_frame {
  @extend .lfui_hoverable_border;
  background-color: $primary_bg_color;
  position        : relative;
  box-sizing      : border-box;

  &.with_label {
    padding    : 5px;
    padding-top: 18px;
  }

  &>.label:first-child {
    position : absolute;
    font-size: 0.5em;
    top      : 0px;
    left     : 2px;
  }
}