@import "../../styles/lfui_hoverable_border.module.scss";
@import "../../styles/lfui_values.module.scss";

.lfui_dropdown {
  @extend .lfui_hoverable_border;
  @extend .lfui_min_input_size;
  position  : relative;
  box-sizing: border-box;
}

.lfui_dropdown_popover {
  @extend .lfui_hoverable_border;
  box-sizing: border-box;
  position  : fixed;
  left      : 0px;
  top       : 0px;
  opacity   : 0;
}