@use "../../styles/lfui_values.module.scss" as *;

.lfui_tag {
  background-color: $primary_border_color;
  color           : $primary_bg_color;
  padding         : 1px 4px;
  border-radius   : $border_radius_s;
  display         : inline-flex;
  align-items     : center;

  &>.close {
    padding        : 0px 4px;
    display        : inline-flex;
    align-items    : center;
    justify-content: center;
  }
}

.lfui_tag.closeable {
  padding-right: 0px;
}