@import "./lfui_values.module.scss";
@import "./lfui_hoverable_border.module.scss";

.lfui_input_like {
  @extend .lfui_hoverable_border;
  @extend .lfui_min_input_size;
  transition: color 200ms, border-color 200ms, background-color 200ms;

  background-color: $primary_bg_color;
  color           : $primary_text_color;

  &:hover {
    background-color: $primary_bg_color_active;
    color           : $primary_text_color_active;
  }

  &:active {
    background-color: $primary_bg_color_active;
    color           : $primary_text_color_active;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &:focus-within {
    border-radius: 10 px;
  }
}
.lfui_input_like.lfui_input_like_actived{
  background-color: $primary_bg_color_active;
  color           : $primary_text_color_active;
}