.zone {
  position: relative;
  overflow: hidden;
  width   : 100%;
  height  : 100%;

  &>.cell {
    position      : absolute;
    pointer-events: none;
    box-sizing    : border-box;
    overflow      : hidden;
  }

  &>.cell>* {
    pointer-events: all;
  }


  &._resizing {
    * {
      pointer-events: none;
    }
  }

  &.zone_h_resizing {
    @extend ._resizing;
    cursor: ew-resize;
  }

  &.zone_v_resizing {
    @extend ._resizing;
    cursor: ns-resize;
  }

  &>._line {
    background-color: white;
    position        : absolute;
    z-index         : 1;
    opacity         : 0;
    transition      : opacity 200ms, background-color 200ms;
  }

  &>.v_line {
    @extend ._line;
    cursor: ew-resize;
    width : 4px;
  }

  &>.h_line {
    @extend ._line;
    cursor: ns-resize;
    height: 4px;
  }

  &>.v_line._line_hover,
  &>.h_line._line_hover,
  &>._line:hover {
    background-color: white;
    opacity         : 1;
    z-index         : 2;
  }
}