@import "../../styles/lfui_hoverable_border.module.scss";
@import "../../styles/lfui_values.module.scss";
@import "../../styles/lfui_input_like.module.scss";
@import "../../styles/lfui_border.module.scss";

.lfui_button {
  @extend .lfui_hoverable_border;
  @extend .lfui_input_like;

  user-select    : none;
  padding        : 2px 4px;
  outline        : none;
  line-height    : 15px;
  box-sizing     : border-box;
  display        : inline-flex;
  align-items    : center;
  justify-content: center;
  word-break     : keep-all;
}

.lfui_button_actived {
  @extend .lfui_input_like_actived;
}
