.lf2ui_input {
  color: #5a73d6;
  border: 2px #5a73d6 solid;
  border-radius: 3px;
  padding: 2px 4px;
  background-color: transparent;
  font-weight: bold;
  outline: none;
  transition:
    color 200ms,
    border-color 200ms,
    background-color 200ms,
    border-radius 500ms;
}

.lf2ui_input:hover {
  color: #ffffff;
  border-color: #ffffff;
}

.lf2ui_input:active {
  color: #ffffff;
  border-color: #ffffff;
  background-color: #5a73d655;
}

.lf2ui_input:disabled {
  color: #384888;
  border: 2px #384888 solid;
  background-color: transparent;
  cursor: not-allowed;
}

.lf2ui_input:focus-within,
.lf2ui_input:active {
  border: solid 2px white;
  border-radius: 10 px;
}

.lf2ui_input::placeholder {
  color: white;
  opacity: 0.2;
}