.name_content {
  flex-direction: row;
  display       : inline-flex;
  flex-wrap     : nowrap;
  align-items   : center;
  word-break    : keep-all;
  white-space   : nowrap;
}

.name_content>*:first-child {
  font-weight : lighter;
  opacity     : 0.8;
  font-size   : 0.5em;
  margin-right: 5px;
  display     : inline-block;
  white-space : nowrap;
  word-break  : keep-all;
}

.name_content>*:first-child:not(:last-child) {
  margin-right: 3px;
}