@import "../styles/lfui_values.module.scss";

.titled {
  flex-direction: row;
  display       : inline-flex;
  flex-wrap     : nowrap;
  align-items   : center;
  word-break    : keep-all;
  white-space   : nowrap;
  position      : relative;

  &.no_label>*:first-child,
  &.has_label>*:nth-child(2) {
    flex: 1;
  }

  &>.label {
    opacity     : 0.8;
    margin-right: 5px;
    display     : inline-block;
    white-space : nowrap;
    word-break  : keep-all;
    text-align  : center;
    display     : inline-block;
  }

  &>.float_label {
    font-size  : 9px;
    line-height: 9px;
    opacity    : 1;
    background : $primary_bg_color;
    color      : $primary_text_color;
    position   : absolute;
    padding    : 0px 2px;
    left       : 8px;
    top        : 0;
    translate  : 0px -7px;
    z-index    : 1;
  }
}