.App {}

.App>* {
  z-index: 1;
  position: relative;
  overflow: hidden;
}

.game_contiainer {
  position: fixed;
  width: 794px;
  height: 450px;
}


.game_canvas {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  outline: none;
  display: block;
  user-select: none;
}

.game_overlay {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  pointer-events: none;
  user-select: none;
}

.game_overlay_ui {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  pointer-events: none;
  user-select: none;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.game_overlay_ui button {
  pointer-events: all;
}

.editor_view {
  position: fixed;
  z-index: 1;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  background-color: #10206C;
  padding: 5px;
  gap: 5px
}

.editor_view .top {
  display: flex;
  gap: 5px;
}

.editor_view .main {
  flex: 1;
  align-self: stretch;
  display: flex;
  gap: 5px;
}

.editor_view .main textarea {
  min-width: 100px;
  align-self: stretch;
  resize: none;
}

.editor_view .main textarea:first-child {
  width: 50%;
  resize: horizontal;
}

.editor_view .main textarea:not(:first-child) {
  flex: 1;
  resize: none;
}

.debug_ui {
  display: flex;
  flex-direction: column;
  background-color: #10206C;
  padding: 5px;
  transition: height 200ms;
  overflow: auto;
  box-shadow: 0px 0px 42px rgba(0, 0, 0, 1);
  gap: 5px;
}

.debug_ui_row {
  display: flex;
  gap: 5px;
  word-break: keep-all;
  white-space: nowrap;
}

.player_row {
  display: flex;
  gap: 5px;
  word-break: keep-all;
  white-space: nowrap;
  align-items: center;
}

.background_settings_row {
  display: flex;
  gap: 5px;
  word-break: keep-all;
  white-space: nowrap;
  align-items: center;
}


.render_scale {
  display: flex;
  align-items: stretch;
}

.render_scale_select:not(:last-child) {
  border-right-width: 1px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.render_scale_input,
.render_scale_input:focus {
  width: 45px;
  border-left-width: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.render_align {
  display: flex;
  align-items: stretch;
}


.render_align>*:not(:last-child) {
  border-right-width: 1px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.render_align>*:not(:first-child) {
  border-left-width: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.render_align>input {
  width: 45px;
}