.App {
  padding: 5px;
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.App * {
  font-size: 14px;
}

.game_contiainer {
  position: relative;
  min-width: 796px;
  min-height: 450px;
  align-self: center;
}

.game_canvas {
  position: absolute;
  width: calc(100% - 1px);
  outline: none;
  left: 50%;
  top: 50%;
  transform: translate(calc(-50% - 0.5px), -50%);
}

.game_overlay {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  pointer-events: none;
  user-select: none;
}

.editor_view {
  position: fixed;
  z-index: 1;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  background-color: gray;
  padding: 5px;
  gap: 5px
}

.editor_view .top {
  display: flex;
  gap: 5px;
}

.editor_view .main {
  flex: 1;
  align-self: stretch;
  display: flex;
  gap: 5px;
}

.editor_view .main textarea {
  flex: 1;
  align-self: stretch;
  resize: none;
}

.top_row {
  display: flex;
  gap: 5px;
  word-break: keep-all;
  white-space: nowrap;
}

.player_row {
  display: flex;
  gap: 5px;
  word-break: keep-all;
  white-space: nowrap;
}

.background_settings_row {
  display: flex;
  gap: 5px;
  word-break: keep-all;
  white-space: nowrap;
  align-items: center;
}