.App {}

.App>* {
  z-index : 1;
  position: relative;
  overflow: hidden;
}

.game_contiainer {
  position: fixed;
  width   : 794px;
  height  : 450px;
}

.game_canvas {
  position   : absolute;
  left       : 0px;
  top        : 0px;
  width      : 100%;
  height     : 100%;
  outline    : none;
  display    : block;
  user-select: none;
}

.game_overlay {
  position      : absolute;
  left          : 0px;
  right         : 0px;
  top           : 0px;
  bottom        : 0px;
  pointer-events: none;
  user-select   : none;
}


.editor_view {
  position        : fixed;
  z-index         : 1;
  left            : 0px;
  top             : 0px;
  right           : 0px;
  bottom          : 0px;
  display         : flex;
  flex-direction  : column;
  background-color: #10206c;
  padding         : 5px;
  gap             : 5px;
}

.editor_view .top {
  display: flex;
  gap    : 5px;
}

.editor_view .main {
  flex      : 1;
  align-self: stretch;
  display   : flex;
  gap       : 5px;
}

.editor_view .main textarea {
  min-width : 100px;
  align-self: stretch;
  resize    : none;
}

.editor_view .main textarea:first-child {
  width : 50%;
  resize: horizontal;
}

.editor_view .main textarea:not(:first-child) {
  flex  : 1;
  resize: none;
}