.game_ui {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  display: none;
  /* pointer-events: none; */
  user-select: none;
  background-color: #10206C;
}

.game_ui_canvas {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: block;
  outline: none;
}