body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #10206C;
  border: white;
  color: #5A73D6;
  font-weight: bold;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  cursor: default;
}

*::-webkit-scrollbar-thumb {
  cursor: default;
  border-radius: 10px;
  background-color: #5A73D655;
  transition: background-color 200ms;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #5A73D6;
}

*::-webkit-scrollbar-track {
  cursor: default;
  background-color: transparent;
}

*::-webkit-scrollbar-track:hover {
  background-color: #5A73D655;
}

*::-webkit-scrollbar-corner {
  border: none;
  outline: none;
  background-color: transparent;
}

*::-webkit-resizer {
  width: 8px;
  height: 8px;
  background-color: #5A73D6;
}

.lf2_border {
  border: 2px #5A73D6 solid;
  border-radius: 3px;
}

.lf2_hoverable_border {
  transition:
    color 200ms,
    border-color 200ms,
    border-radius 500ms;
  border: 2px #5A73D6 solid;
  border-radius: 3px;
}

.lf2_hoverable_border:hover {
  border-color: #FFFFFF;
}


button,
input,
select,
textarea {
  color: #5A73D6;
  border: 2px #5A73D6 solid;
  border-radius: 3px;

  padding: 2px 4px;
  background-color: transparent;
  font-weight: bold;
  outline: none;
  transition:
    color 200ms,
    border-color 200ms,
    background-color 200ms,
    border-radius 500ms;
}

textarea {
  color: #9AB3F6;
  font-weight: normal;
  font-size: 12px;
}


textarea::selection {
  color: #10206C;
  background-color: white;
}

textarea:hover {
  border-color: #FFFFFF;
}

button:hover,
input:hover {
  color: #FFFFFF;
  border-color: #FFFFFF;
}

button:active,
input:active {
  color: #FFFFFF;
  border-color: #FFFFFF;
  background-color: #5A73D655;
}

button:disabled,
input:disabled {
  color: #384888;
  border: 2px #384888 solid;
  background-color: transparent;
  cursor: not-allowed;
}


button:focus-within,
input:focus-within,
input:active {
  border: solid 2px white;
  border-radius: 10 px;
}